a{
    text-decoration: none;
    color: #1a1a1d;
}

a:hover {
    text-decoration: none;
    color: #b4d3d3;
}

ul, ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.wrapper {
    max-width: 1800px;
    height: auto;
    margin: 0 auto;
    padding: 0 20px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    padding-top: 67px;
    flex-wrap: wrap;
}

.header__menu {
    width: 33%;
}

.header__search {
    width: 33%;
    text-align: end;
}

.header__menu-list {
    display: flex;
}

.header__menu-item {
    margin-right: 50px;
}

.header__menu-item:last-child  {
    margin-right: 0;
}

.header__menu-link {
    color: #1a1a1d;
    font-family: "Nunito - Extra Bold";
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.header__menu-link, .header__search-link {
    font-size: 20px;
}

.header__menu-img {
    object-fit: none;
}

.header__title-image {
    object-fit: none;
}

/*SOCIAL-NETWORK*/
.social-network {
    margin-top: 144px;
}

.social-network__list {
    display: flex;
    flex-direction: column;
}

.social-network__item {
    margin-bottom: 30px;
}

.social-network__link {
    font-size: 16px;
}

.social-network__link:hover {
    color: #b4d3d3;
}

.block-image__item {
    display: none;
}

.block-image__item_active {
    display: block;
}

.block-image__img {
    max-width: 769px;
    height: 720px;
    background-color: #b4d3d3;
    background-image: linear-gradient(-135deg, #b4d3d3 0%, #d9e7e7 100%);
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.slider {
    position: relative;
    height: 810px;
    width: 100%;
}

.block-image-two {
    max-width: 1121px;
    height: 810px;
    background-color: #e2e8e8;
    margin-left: 258px;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.block-image-two__img {
    opacity: 0;
    width: 0;
    object-position: top;
}

.slider-list {
    margin-top: 60px;
    margin-bottom: 167px;
}

.slider-list__line {
    width: 2px;
    height: 0;
    background-color: #1a1a1d;
    margin-bottom: 73px;
    margin-left: 8px;
}

.slider-list__link {
    font-family: Poppins;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 0.36px;
    transform: rotate(-90deg);
    display: inline-block;
}

.button-preview {
    max-width: 370px;
    height: 110px;
    background-color: #b4d3d3;
    text-align: right;
    position: absolute;
    bottom: 0;
    z-index: 1;
}

.button-preview__link {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: #ffffff;
    position: relative;
    line-height: 7;
}

.button-preview__link:hover {
    color: #fff;
    text-decoration: none;
}

.button-preview__link:hover:after {
    content: '';
    border-top: 1px solid #1a1a1d;
    position: absolute;
    top: 0;
    left: 0;
    border-right: 1px solid #1a1a1d;
    right: 0;
    animation: lineAfter 1s;
    animation-fill-mode: forwards;
    -webkit-animation: lineAfter 1s;
    -webkit-animation-fill-mode: forwards;
}

.button-preview__link:hover:before {
    content: '';
    border-bottom: 1px solid #1a1a1d;
    position: absolute;
    border-left: 1px solid #1a1a1d;
    bottom: 0;
    right: 0;
    animation: lineBefore 1s;
    animation-fill-mode: forwards;
    -webkit-animation: lineBefore 1s;
    -webkit-animation-fill-mode: forwards;
}
.button-preview__text {
    font-family: "Nunito - Extra Bold";
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    padding: 0 62px;
}

.button-preview__btn {
    width: 110px;
    background-color: #ffffff;
    display: inline-block;
    height: 100%;
    text-align: center;
}

.button-preview__img {
    object-fit: none;
}

.slider__title {
    position: absolute;
    top: 30%;
    margin-left: 174px;
    z-index: 1;
    max-width: 420px;
}

.slider__title-name {
    color: #1a1a1d;
    font-size: 75px;
    font-weight: 400;
    line-height: 80px;
    letter-spacing: 2.02px;
    width: 0;
    position: relative;
}

.slider__title-name:after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 56px;
    height: 7px;
    background-color: white;
    right: 0;
}

/*
.slider__title-line {
    width: 56px;
    height: 7px;
    background-color: #ffffff;
    display: inline-block;
    margin-left: 64px;
}
*/

.slider__title-text {
    color: #1a1a1d;
    font-family: "Nunito - Semi Bold";
    text-transform: uppercase;
    letter-spacing: 3.4px;
    margin-top: 40px;
    opacity: 0;
}

.slider-switch {
    width: 325px;
    height: 336px;
    position: absolute;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}

.slider-switch__list {
    padding-left: 95px;
}

.slider-switch__item {
    opacity: 0.7;
    color: #696970;
    font-family: "Nunito - Extra Bold";
    font-size: 12px;
    line-height: 48px;
    letter-spacing: 2.4px;
}

.slider-switch__link:hover {
    color: #1a1a1d;
    font-weight: bold;
}

.slider-switch__item_active {
    color: #1a1a1d;
    font-weight: bold;
}

.slider-switch__line {
    width: 56px;
    height: 2px;
    background-color: #1a1a1d;
    display: inline-block;
    vertical-align: middle;
}

/*SECTION PEOPLE*/
.section-people {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    flex-wrap: wrap;
}

.profession {
    display: flex;
    width: 100%;
    justify-content: center;
}

.profession__link {
    color: #696970;
    font-size: 12px;
    line-height: 48px;
    text-transform: uppercase;
    font-family: Nunito;
    letter-spacing: 2.4px;
    padding: 16px;
}

.profession__link:hover {
    color: #1a1a1d;
    font-weight: 900;
    border-bottom: 2px solid #1a1a1d;
}

.profile {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-top: 65px;
}

.profile__user {
    display: flex;
    justify-content: center;
    width: 420px;
    height: 490px;
    align-items: flex-end;
}

.profile__user_odd {
    background-color: #e2e8e8;
}

.profile__user_even {
    background-color: #d3dcdc;
}

.profile__user:hover {
    position: relative;
}

.profile__user:hover .circle {
    width: 56px;
    height: 56px;
    background-color: #b4d3d3;
    border-radius: 100%;
    position: absolute;
    right: 26px;
    top: 26px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-45deg);
}

/*.profile__user:hover {
    position: relative;
}*/

.profile__user:hover .profile__user-data {
    display: block;
}

/*.profile__user:hover:before {
    content: '';
    width: 56px;
    height: 56px;
    background-color: #b4d3d3;
    border-radius: 100%;
    position: absolute;
    right: 26px;
    top: 26px;
    background-image: url(../images/img/arrow-right.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 14px;
    transform: rotate(-45deg);
}*/

.circle {
    display: none;
}

.circle:hover .profile-user__circle {
    animation: arrow 1s infinite;
}

.profile-user__circle {
    object-fit: none;
}

.profile-user__link,
.profile-user__image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profile-user__image:hover {
    background-color: #030409;
    opacity: 0.2;
}

.profile__user:hover {
    background-color: #030409;
    opacity: 0.81;
}

.profile__user-data {
    display: none;
    bottom: 30px;
    text-align: center;
    position: absolute;
}

.profile__user-name {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    letter-spacing: 0.6px;
}

.profile__user-career {
    color: #aeaeb7;
    font-family: "Nunito - Extra Bold";
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
}

.profile__button {
    width: 220px;
    height: 60px;
    border-radius: 30px;
    background-color: #b4d3d3;
    outline: none;
    border: none;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin: 60px auto;
}

.profile__button:focus {
    outline: none;
}

.profile__button:hover {
    background-color: #1a1a1d;
}

/*SECTION-LATEST-NEWS*/
.title {
    text-align: center;
}

.title__text {
    color: #1a1a1d;
    font-size: 60px;
    font-weight: 400;
}

.title__line {
    display: inline-block;
    width: 150px;
    height: 2px;
    background-color: #242424;
}

.latestNews {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 68px 0 50px 0;
}

.new {
    display: flex;
    margin-bottom: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.new:last-child {
    margin-bottom: 0;
}

.new__preview {
    width: 200px;
    height: 139px;
    background-color: #e2e8e8;
}

.new__description {
    width: 250px;
    height: auto;
    margin-left: 42px;
}

.new__title {
    color: #1a1a1d;
    font-size: 23px;
    font-weight: 500;
}

.new__title:hover {
    color: #87bbbc;
    cursor: pointer;
}

.new__data {
    color: #77777e;
    font-size: 16px;
    font-weight: 500;
}

/*NEWS BLOCK LEFT*/
.newsBlock {
    margin-top: 50px;
    display: flex;
    flex-wrap: wrap;
}

.newsBlockLeft {
    margin-right: 30px;
}

.newsBlockLeft-trend {
    display: flex;
    max-height: 520px;
    max-width: 1104px;
}

.newsBlockLeft-trend__description {
    background-color: #b4d3d3;
    background-image: linear-gradient(4deg, #b4d3d3 0%, #d9e7e7 100%);
    display: flex;
    flex-wrap: wrap;
    padding-left: 61px;
    padding-right: 70px;
}

.newsBlockLeft-trend__linkPlay {
    margin-top: 200px;
    height: 0;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.newsBlockLeft-trend__linkPlay:hover:before {
    content: '';
    border: 4px solid #fff;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    position: absolute;
    top: -34px;
    left: -23px;

}

/*.newsBlockLeft-trend__linkPlay:hover:after {
    content: '';
    width: 5px;
    height: 75px;
    background-color: #c7dede;
    position: absolute;
    transform: rotate(0deg);
    left: 10px;
    -webkit-animation: rotat 1s infinite;
    -o-animation: rotat 1s infinite;
    animation: rotat 1s infinite;
    background-image: linear-gradient(4deg, #c5dcdc 0%, #c9dede 100%);
}

@keyframes rotat {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}*/

.newsBlockLeft-trend__imgPlay {
    width: 32px;
    height: 40px;
    z-index: 1;
}

.newsBlockLeft-trend__text {
    width: 269px;
    margin-top: 35px;
}

.newsBlockLeft-trend__title {
    color: #ffffff;
    font-size: 30px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: -0.6px;
}

.newsBlockLeft-trend__data {
    color: #ffffff;
    font-size: 16px;
}

.newsBlockLeft-trend__image {
    background-color: #e2e8e8;
}

.newsBlockLeft-trend__linkPicture {
    position: relative;
}

.newsBlockLeft-trend__linkPicture:before {
    content: 'Trending';
    width: 206px;
    height: 56px;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    z-index: 1;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-right: 10px;
}

.newsBlockLeft-trend__imgPicture {
    object-fit: cover;
    object-position: top;
}

/*NEW BLOCK LEFT-BOTTOM*/
.newsBlockLeft-bottom {
    display: flex;
    margin: 34px 0;
    justify-content: space-around;
}

.newsBlockLeft-bottom__left {
    max-width: 527px;
    margin-right: 36px;
}

.newsBlockLeft-bottom__left-poster {
    width: 100%;
    height: 286px;
    background-color: #e2e8e8;
}

/*SLIDER BOTTOM LEFT*/
.newsBlockRigth-slider_left {
    width: 400px!important;
    height: 414px!important;
}

.newsBlockRigth-slider__item_left {
    height: 414px!important;
}

#newsBlockRigth-slider__indicator_left {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    top: 0;
    margin-bottom: 0;
    flex-direction: column;
}

.newsBlockRigth-slider__indicator-item_left {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #000000;
    opacity: 0.5;
    right: 0;
    flex-direction: column;
    top: 0;
    margin-right: 20px;
    margin-top: 20px;
}

/*SLIDER LEFT BUTTON*/
.newsBlockRigth-slider-left-button {
    position: absolute;
    display: flex;
    align-items: center;
    left: 40px;
    bottom: 50px;
}

.newsBlockRigth-slider-left-button__play {
    width: 90px;
    height: 90px;
    border: 2px solid #f6f7f8;
    border-radius: 50%;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.newsBlockRigth-slider-left-button__img {
    width: 28px;
    height: 34px;
    margin-left: 7px;
}

.newsBlockRigth-slider-left-button__text {
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}


/*NEWS BLOCK RIGHT*/
.newsBlockRigth {
    max-width: 390px;
}

/*SLIDER newsBlockRigth*/
.newsBlockRigth-slider {
    width: 100%;
    height: 840px;
    background-color: #e2e8e8;
    position: relative;
    display: flex;
    justify-content: center;
}

.newsBlockRigth-slider__list {
    /*position: absolute;*/
}

.newsBlockRigth-slider__item {
    display: none;
    height: 840px;
}

.newsBlockRigth-slider__item_active {
    display: block;
}

.newsBlockRigth-slider__indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    margin-bottom: 30px;
}

.newsBlockRigth-slider__indicator-item {
    width: 6px;
    height: 6px;
    border-radius: 3px;
    background-color: #000000;
    opacity: 0.5;
    margin-right: 20px;
}

.newsBlockRigth-slider__indicator-item_active {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background-color: #ffffff;
    /*margin-right: 20px;*/
    opacity: 1;
}

.newsBlockRigth-text {
    margin-top: 37px;
}

.newsBlockRigth-text__title {
    color: #1a1a1d;
    font-weight: 500;
}

/*FOOTER*/
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #f5f5f5;
    padding-bottom: 40px;
}

.footer-top__title {
    width: 197px;
    height: auto;
}

.footer-top__img {
    height: auto;
}

.footer-to__feedback {
    display: flex;
    align-items: center;
    border-left: 1px solid #b4d3d3;
    height: 40px;
}

.footer-to__text {
    color: #1a1a1d;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    margin-right: 40px;
    margin-left: 50px;
}

.footer-to__img-email {
    width: 20px;
    height: 16px;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0;
}

.footer-bottom__text {
    color: #77777e;
    font-size: 15px;
}

.social-network_footer {
    margin-top: 0;
}

.social-network__list_footer {
    flex-direction: row;
}

.social-network__item_footer {
    margin-right: 40px;
    margin-bottom: 0;
}

/*ANIMATION*/
@keyframes lineAfter {
    from {
        width: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    to {
        height: 100%;
    }
}

@-webkit-keyframes lineAfter {
    from {
        width: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes lineBefore {
    from {
        width: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    to {
        height: 100%;
        left: 0;
    }
}

@-webkit-keyframes lineBefore {
    from {
        width: 0;
    }
    50% {
        width: 100%;
        height: 0;
    }
    to {
        height: 100%;
        left: 0;
    }
}

@keyframes arrow {
    from {
        transform: translate(-21px,0px);
        opacity: 1;
    }
    to {
        transform: translate(20px,0px);
        opacity: 0;
    }
}

@-webkit-keyframes arrow {
    from {
        transform: translate(-21px,0px);
        opacity: 1;
    }
    to {
        transform: translate(20px,0px);
        opacity: 0;
    }
}